<div class="d-flex h-100 text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <table class="table text-center">
      <thead>
        <tr>
          <th>
            <h1>اهلا</h1>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#if condition}}
          <tr class="table-danger">
            <td>
              <h3>لا توجد رسائل حتى الان , قم بعمل اعادة تحميل للصفحة حتى تظهر
                لك الرسائل الجديدة</h3>
            </td>
          </tr>
        {{else}}
          <tr class="table-success">
            <td>
              <h3>عدد الرسايل : {{length}}</h3>
            </td>
          </tr>
        {{/if}}
        {{#each r}}
          <tr><th>{{this.msg}}</th></tr>
        {{/each}}
      </tbody>
    </table>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> انسخ هذا الرابط </h5>
        <p class="card-text">
          <input
            class="form-control"
            style="text-align: center;"
            type="url"
            value="https://saraha-sdg.herokuapp.com/up/{{link}}"
          />
        </p>
        <a href="/up/{{link}}" class="btn btn-success"><h3>أو اضغط هنا وسوي
            مشاركة للرابط
          </h3></a>
      </div>

    </div>

  </div>
</div>